@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Sans", serif;
  background-color: #f5f5f5;
}
main {
  width: 1536px;
  margin: 0 192px;
}
button:hover {
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom, #a000ff, #4b0082);
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
h2:hover,
h3:hover {
  color: green;
}

/* Header Styles */
.header {
  margin: 0 181px 80px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  /* background-color: red; */
}
nav ul,
a {
  list-style: none;
  text-decoration: none;
}

.sing {
  color: rgb(0, 106, 80);
  font-weight: bold;
  background-color: none;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(0, 106, 80);
  width: 139px;
  height: 62px;
}
.header-title {
  font-size: 38px;
  color: rgb(0, 106, 80);
}
/* banner styles */
.banner {
  width: 100%;
  height: 672px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.banner-title {
  font-size: 28px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 20px;
}
.banner-description {
  font-size: 67px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 29px;
}
.banner-btn {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  width: 324px;
  height: 67px;
  border-radius: 9px;
  background: rgb(0, 106, 80);
  border: none;
}
/*Pillars styles  */
.pillars {
  /* background-color: gray; */
  margin-bottom: 96px;
}
.pillars-title {
  color: rgb(14, 14, 14);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 38px;
}
.pillars-container {
  display: flex;
  gap: 28px;
}
.pillar {
  background-color: #ffffff;
  border: 2px solid rgba(14, 14, 14, 0.15);
  border-radius: 19px;
  padding: 28px;
}
.pillar-title {
  color: rgba(14, 14, 14, 0.8);
  font-weight: 700;
  font-size: 24px;
}
.pillar-description {
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
}
/* Future Vision Styles */
.future-vision {
  margin-bottom: 38px;
}

.future-title {
  font-weight: 700;
  font-size: 48px;
  color: rgb(14, 14, 14);
  margin-bottom: 28px;
}
.future-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 38px;
}
.future-containers {
  display: flex;
  gap: 29px;
}
.future-container-style {
  border-radius: 19px;
  padding: 38px;
}
.future-container-a {
  background: rgba(84, 144, 245, 0.2);
}
.future-container-b {
  background-color: #c6e4d6;
}
.future-container-c {
  background-color: #f7ebcf;
}
.container-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}
.container-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  margin: 2px 0 28px;
}
.future-btn-style {
  width: 146px;
  height: 49px;
  font-size: 19px;
  font-weight: 600;
  line-height: 22px;
  border: none;
  border-radius: 8px;
}
.future-btn-a {
  color: rgb(255, 255, 255);
  background: rgb(84, 144, 245);
}
.future-btn-b {
  color: rgb(255, 255, 255);
  background: rgb(9, 161, 92);
}
.future-btn-c {
  color: rgb(255, 255, 255);
  background: rgb(255, 194, 57);
}
/* Future Lecture styles */
.future-lecture {
  margin-bottom: 96px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 30px 35px;
}
.future-lecture {
  padding: 58px 30px;
  box-sizing: border-box;
  border: 2px solid rgba(14, 14, 14, 0.15);
  border-radius: 19px;
}
.lecture-description {
  color: rgba(14, 14, 14, 0.8);
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}
.lecturer-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}
.lecturer {
  color: rgba(14, 14, 14, 0.6);
  font-size: 19px;
  font-weight: 400;
}

/* News Section */
.news {
  margin-bottom: 96px;
}
.news-hdr-title {
  color: rgb(14, 14, 14);
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 28px;
}
.news-hdr-des {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19px;
  font-weight: 400;
}
.news-container {
  display: flex;
  gap: 38px;
  padding: 57px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin-top: 38px;
}
.news-container-b {
  display: flex;
  flex-direction: row-reverse;
  gap: 38px;
  padding: 57px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin-top: 38px;
}
.news-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 15px;
}
.news-date-t {
  margin: 15px 0;
}
.news-date {
  padding-right: 15px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.news-img {
  border-radius: 28px;
  height: 335px;
}
.news-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 38px;
}
.news-btn {
  width: 166px;
  height: 57px;
  border-radius: 9px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
/* Donation Section Styles */
.donation {
  padding: 0 88px;
  margin-bottom: 96px;
}
.donate-title {
  color: rgb(14, 14, 14);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
}
.donate-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.amount-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 38px 0;
}
.amount-button {
  border: 2px solid rgba(14, 14, 14, 0.15);
  border-radius: 19px;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 48px;
  font-size: 48px;
  font-weight: 700;
}
.active {
  background: #c6e4d6;
}
.amount-button:hover {
  background: linear-gradient(to bottom, #0004ff, #00824c);
  color: white;
}
.custom-amount {
  margin: 38px;
  display: flex;
  justify-content: center;
}
.custom-amount input {
  width: 1100px;
  background: rgb(255, 255, 255);
  color: rgba(14, 14, 14, 0.3);
  font-size: 24px;
  font-weight: 400;
  padding: 20px 40px 20px 40px;
  border: none;
  text-align: center;
  outline: none;
}
.custom-amount input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}
.submit-button {
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 10px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  padding: 20px 38px;
}
.submit-btn {
  display: flex;
  text-align: center;
  justify-content: center;
}
/* Subscribe News */
.subscribe {
  background: #c6e4d6;
  padding: 96px 120px;
  border-radius: 28px;
  margin-bottom: 96px;
}
.subscribe-title {
  color: rgb(14, 14, 14);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.subscribe-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
  padding: 0 76px;
}
.news-form {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-form input {
  color: rgba(14, 14, 14, 0.3);
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  width: 720px;
  padding: 15px 48px;
  outline: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background: rgb(255, 255, 255);
}
.subscribe-btn {
  color: rgb(255, 255, 255);
  background: #006a50;
  border-radius: 0px 10px 10px 0px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  width: 180px;
  height: 52px;
  border: none;
  text-align: center;
}
.subscriber-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 28px;
}
/* footer */
.footer {
  padding: 60px 286px;
  background: #ffffff;
}
.footer-title {
  color: rgb(14, 14, 14);
  font-size: 39px;
  font-weight: 700;
  margin: 60px 0 35px 0;
  text-align: center;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 44px;
}
